@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.99 0.004 125.5); /* 95 100% 99% */
  --foreground: oklch(0.13 0.005 125.5); /* 95 5% 10% */
  --card: oklch(0.985 0.02 125.5); /* 95 50% 99% */
  --card-foreground: oklch(0.15 0.01 125.5); /* 95 5% 15% */
  --popover: oklch(0.99 0.004 125.5); /* 95 100% 99% */
  --popover-foreground: oklch(0.13 0.01 125.5); /* 95 100% 10% */
  --primary: oklch(0.66 0.12 125.5); /* 95 32% 47% */
  --primary-foreground: oklch(1 0 0); /* 0 0% 100% */
  --secondary: oklch(0.92 0.03 125.5); /* 95 30% 90% */
  --secondary-foreground: oklch(0.14 0.005 125.5); /* 0 0% 0% */
  --muted: oklch(0.96 0.025 90); /* 57 30% 95% */
  --muted-foreground: oklch(0.4 0.01 125.5); /* 95 5% 40% */
  --accent: oklch(0.9 0.03 90); /* 57 30% 90% */
  --accent-foreground: oklch(0.15 0.01 125.5); /* 95 5% 15% */
  --destructive: oklch(0.6 0.24 27); /* 0 100% 50% */
  --destructive-foreground: oklch(0.99 0.005 125.5); /* 95 5% 99% */
  --border: oklch(0.83 0.02 125.5); /* 95 30% 82% */
  --input: oklch(0.66 0.05 125.5); /* 95 30% 50% */
  --ring: oklch(0.66 0.12 125.5); /* 95 32% 47% */
  --chart-1: oklch(0.66 0.19 40); /* tom quente amarelado-alaranjado */
  --chart-2: oklch(0.6 0.12 180); /* tom azulado médio */
  --chart-3: oklch(0.45 0.07 240); /* tom roxo suave */
  --chart-4: oklch(0.78 0.17 85); /* tom verde limão */
  --chart-5: oklch(0.72 0.16 70); /* tom oliva intenso */

  --sidebar: oklch(0.985 0.004 125.5); /* mesmo do background */
  --sidebar-foreground: oklch(0.13 0.005 125.5); /* mesmo do foreground */
  --sidebar-primary: oklch(0.66 0.12 125.5); /* igual ao --primary */
  --sidebar-primary-foreground: oklch(
    1 0 0
  ); /* igual ao --primary-foreground */
  --sidebar-accent: oklch(0.92 0.03 125.5); /* igual ao --secondary */
  --sidebar-accent-foreground: oklch(
    0.15 0.01 125.5
  ); /* igual ao --accent-foreground */
  --sidebar-border: oklch(0.83 0.02 125.5); /* igual ao --border */
  --sidebar-ring: oklch(0.66 0.12 125.5); /* igual ao --ring */
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.13 0.04 125.5); /* 95 50% 10% */
  --foreground: oklch(0.99 0.005 125.5); /* 95 5% 99% */
  --card: oklch(0.13 0.04 125.5); /* 95 50% 10% */
  --card-foreground: oklch(0.99 0.005 125.5); /* 95 5% 99% */
  --popover: oklch(0.1 0.035 125.5); /* 95 50% 5% */
  --popover-foreground: oklch(0.99 0.005 125.5); /* 95 5% 99% */
  --primary: oklch(0.66 0.12 125.5); /* 95 32% 47% */
  --primary-foreground: oklch(1 0 0); /* 0 0% 100% */
  --secondary: oklch(0.25 0.035 125.5); /* 95 30% 20% */
  --secondary-foreground: oklch(0.99 0.005 125.5); /* 0 0% 100% */
  --muted: oklch(0.28 0.035 90); /* 57 30% 25% */
  --muted-foreground: oklch(0.65 0.01 125.5); /* 95 5% 65% */
  --accent: oklch(0.28 0.035 90); /* 57 30% 25% */
  --accent-foreground: oklch(0.93 0.005 125.5); /* 95 5% 95% */
  --destructive: oklch(0.6 0.24 27); /* 0 100% 50% */
  --destructive-foreground: oklch(0.99 0.005 125.5); /* 95 5% 99% */
  --border: oklch(0.66 0.05 125.5); /* 95 30% 50% */
  --input: oklch(0.66 0.05 125.5); /* 95 30% 50% */
  --ring: oklch(0.66 0.12 125.5); /* 95 32% 47% */
  --chart-1: oklch(0.7 0.19 40);      /* tom quente, bem visível no dark */
  --chart-2: oklch(0.65 0.12 180);    /* azul claro */
  --chart-3: oklch(0.55 0.07 240);    /* violeta mais vivo */
  --chart-4: oklch(0.78 0.17 85);     /* verde-limão luminoso */
  --chart-5: oklch(0.72 0.16 70);     /* oliva quente */

  --sidebar: oklch(0.13 0.04 125.5);              /* igual ao background */
  --sidebar-foreground: oklch(0.99 0.005 125.5);  /* igual ao foreground */
  --sidebar-primary: oklch(0.66 0.12 125.5);      /* igual ao primary */
  --sidebar-primary-foreground: oklch(1 0 0);     /* igual ao primary-foreground */
  --sidebar-accent: oklch(0.28 0.035 90);         /* igual ao accent */
  --sidebar-accent-foreground: oklch(0.93 0.005 125.5); /* igual ao accent-foreground */
  --sidebar-border: oklch(0.66 0.05 125.5);       /* igual ao border */
  --sidebar-ring: oklch(0.66 0.12 125.5);         /* igual ao ring */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .neumorphism {
    border-radius: 50%;
    background: #fbfcf9;
    box-shadow:  10px 10px 30px #d5d6d4,
             -10px -10px 30px #ffffff;
  }

  .humidity {
    @apply bg-gradient-to-r from-blue-300 to-blue-900;
  }

  .temperature {
    @apply bg-gradient-to-br from-blue-800 to-red-900;
  }
}
